<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center; 
         }
         .Container{
             display: flex;
             align-items: center;
             justify-content: center;
         }body{
            background-color: cadetblue;
        }
    </style>
</head>
<body>
    <h1>Controle de Qualidade</h1>
    <hr>
    <div class='Container'><iframe width="560" height="315" src="https://www.youtube.com/embed/3tA44X-GgwU?si=sstkRerclCBRo5RO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
</body>
</html>